zinibu_common:
  app_user: vagrant
  app_group: vagrant
  root_user: root

nginx:
  server:
    password: 'somepass'
  # Override any names defined in map.jinja
  lookup:
    package: nginx

python:
  testfilename: /tmp/pillar-file-44
  pyvenvs_dir: /home/vagrant/pyvenvs
  pyvenv_name: zinibu_dev
  pip_packages:
    - requests
    - Jinja2
    - Django
    - psycopg2
    - ipython
