zinibu_common:
  app_user: vagrant
  app_group: vagrant
  root_user: root

nginx:
  server:
    password: 'somepass'
  # Override any names defined in map.jinja
  lookup:
    package: nginx

python:
  testfilename: /tmp/pillar-file-44
  pyvenvs_dir: pyvenvs
  pyvenv_name: zinibu_dev

pip_packages:
  - requests==2.7.0
  - Jinja2==2.7.3
  - Django==1.8.3
  - psycopg2==2.6.1
  - ipython==3.2.0
  - gunicorn==19.3.0
