{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'package': 'nginx',
        'service': 'nginx',
        'webuser': 'www-data',
        'conf_file': '/etc/nginx/nginx.conf',
        'vhost_available': '/etc/nginx/sites-available',
        'vhost_enabled': '/etc/nginx/sites-enabled',
        'vhost_use_symlink': True,
    },
    'RedHat': {
        'package': 'nginx',
        'service': 'nginx',
        'webuser': 'nginx',
        'conf_file': '/etc/nginx/nginx.conf',
        'vhost_available': '/etc/nginx/conf.d',
        'vhost_enabled': '/etc/nginx/conf.d',
        'vhost_use_symlink': False,
    },
}, merge=salt['pillar.get']('nginx:lookup')) %}

{% set django = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },
}, merge=salt['pillar.get']('django:lookup')) %}

{% set varnish = salt['grains.filter_by']({
    'Debian': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/default/varnish',
    },
    'RedHat': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/sysconfig/varnish',
    },
}, merge=salt['pillar.get']('varnish:lookup')) %}

{% set python = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python3',
        'dev_pkg': 'python3-dev',
        'pip_pkg': 'python-pip',
    },
    'RedHat': {
        'pkg': 'python3',
        'dev_pkg': 'python3-devel',
        'pip_pkg': 'python-pip',
    },
}, merge=salt['grains.filter_by']({
    '12.04': {
        'pyvenv_cmd': 'pyvenv-3.4',
        'lib_dir': '/usr/lib/python3.2',
    },
    '14.04': {
        'pyvenv_cmd': 'pyvenv-3.4',
        'lib_dir': '/usr/lib/python3.4',
    },
    '14.10': {
        'pyvenv_cmd': 'pyvenv-3.4',
        'lib_dir': '/usr/lib/python3.4',
    },
}, grain='lsb_distrib_release', merge=salt['pillar.get']('python:lookup'))) %}

{% set pg_version = salt['grains.filter_by']({
    'RedHat' : { 'id': '9.1' },
    'Arch'   : { 'id': '9.1' },
    'Debian' : { 'id': '9.3' },
}, merge=salt['grains.filter_by']({
    '14.04'  : { 'id': '9.3' },
    '14.10'  : { 'id': '9.4' },
}, grain='lsb_distrib_release', merge=salt['grains.filter_by']({
    'jessie' : { 'id': '9.4' },
    'wheezy' : { 'id': '9.1' },
}, grain='lsb_distrib_codename', merge=salt['pillar.get']('postgres:lookup')))) %}

{% set postgres_lookup = salt['grains.filter_by']({
    'RedHat': {
        'pkg'            : 'postgresql-server',
        'pkg_dev'        : 'postgresql-devel',
        'pkg_libpq_dev'  : 'postgresql-libs',
        'python'         : 'python-psycopg2',
        'service'        : 'postgresql',
        'conf_dir'       : '/var/lib/pgsql/data',
        'create_cluster' : False,
        'init_db'        : True,
        'version'        : pg_version.id,
    },
    'Arch': {
        'pkg'            : 'postgresql',
        'pkg_dev'        : 'postgresql-devel',
        'pkg_libpq_dev'  : 'postgresql-libs',
        'python'         : 'python-psycopg2',
        'service'        : 'postgresql',
        'conf_dir'       : '/var/lib/pgsql/data',
        'create_cluster' : False,
        'init_db'        : True,
        'version'        : pg_version.id,
    },
    'Debian': {
        'pkg'            : 'postgresql',
        'pkg_dev'        : 'postgresql-server-dev-' + pg_version.id,
        'pkg_libpq_dev'  : 'libpq-dev',
        'python'         : 'python-pygresql',
        'service'        : 'postgresql',
        'pg_hba'         : '/etc/postgresql/' + pg_version.id + '/main/pg_hba.conf',
        'conf_dir'       : '/etc/postgresql/' + pg_version.id + '/main',
        'create_cluster' : False,
        'init_db'        : False,
        'version'        : pg_version.id,
    },
}, merge=salt['pillar.get']('postgres:lookup')) %}

{% set postgres = salt['pillar.get']('postgres', default=postgres_lookup, merge=True) %}

{% set zinibu_basic = salt['grains.filter_by']({
    'default': {
        'app_user': 'default_user',
        'app_group': 'default_group',
        'root_user': 'root',
        'project': {
            'name': 'default_project_name',
            'pyvenvs_dir': 'pyvenvs'
        }
    },
    'Debian': {
    },
    'RedHat': {
    },
}, merge=salt['pillar.get']('zinibu_basic'), base='default') %}
