{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'package': 'nginx',
        'service': 'nginx',
        'webuser': 'www-data',
        'conf_file': '/etc/nginx/nginx.conf',
        'vhost_available': '/etc/nginx/sites-available',
        'vhost_enabled': '/etc/nginx/sites-enabled',
        'vhost_use_symlink': True,
    },
    'RedHat': {
        'package': 'nginx',
        'service': 'nginx',
        'webuser': 'nginx',
        'conf_file': '/etc/nginx/nginx.conf',
        'vhost_available': '/etc/nginx/conf.d',
        'vhost_enabled': '/etc/nginx/conf.d',
        'vhost_use_symlink': False,
    },
}, merge=salt['pillar.get']('nginx:lookup')) %}

{% set varnish = salt['grains.filter_by']({
    'Debian': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/default/varnish',
    },
    'RedHat': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/sysconfig/varnish',
    },
}, merge=salt['pillar.get']('varnish:lookup')) %}

{% set python = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'python3',
        'dev_pkg': 'python3-dev',
        'pip_pkg': 'python3-pip',
    },
    'RedHat': {
        'pkg': 'python3',
        'dev_pkg': 'python3-devel',
        'mako_pkg': 'python3-mako',
    },
}, merge=salt['grains.filter_by']({
    '14.04': {
        'pyvenv_cmd': 'pyvenv-3.4',
    },
    '14.10': {
        'pyvenv_cmd': 'pyvenv-3.4',
    },
}, grain='lsb_distrib_release', merge=salt['pillar.get']('python:lookup'))) %}
